.SideMenuContainer{
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;

    .SideMenuIcon{
        height: 2.5rem;
        width: 2.5rem;
        color: #a1a3a8;
        cursor: pointer;
        &:hover{
            color:#0090F9;
        }
    }
    .SideMenuButtonsBox{
        width: 6rem;
        position: absolute;
        left: 70%;
        margin-top: 0.5rem;   
        box-sizing: border-box;
        border: 0.15rem solid #e5e7eb;
        border-radius: 0.725rem;
        background-color: white;
        .SideMenuButton{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: 100%;
            height: 1.5rem;
            color:black;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color:#0090F9;
            }
        }
    }
}