.EventContainer{
    width: 75vw;
    height: 100vh;
    margin: auto;
    background-color: #F5F7FF;

    .EventTitleBox{
        display: flex;
        width: 80%;
        height: 10%;
        margin: auto;
        margin-top: 3%;
        align-items: center;
        justify-content: center;

        .Title{
            align-items: center;
            vertical-align: text-bottom;
            width: 18%;
            height: 100%;
            font-size: 3.5vw;
            font-weight: bold;
            color: black;
        }

        .Month{
            display: flex;
            align-items: end;
            height: 80%;
            font-size: 1.5vw;
            font-weight: bold;
            color: black;
            margin-right: 1%;
        }
        .Year{
            display: flex;
            align-items: end;
            width: 20%;
            height: 80%;
            font-size: 1.5vw;
            font-weight: bold;
            margin-right: auto;
            color: black;
        }
    }
    
    .EventMainBox{
        display: flex;
        width: 80%;
        height: 70%;
        margin: auto;
        background-color: white;
        box-shadow: 1px 1px 3px 1px #dadce0;
        border-radius: 1em;

        .EventCalendarBox{
            display: flex;
            width: 49%;
            height: 100%;
            justify-content: center;

            .dot {
                height: 7px;
                width: 7px;
                background-color: #F34F50;
                border-radius: 50%;
                display: flex;
                margin: auto;
                margin-top: 5px;
            }
        }

        .MiddleLine{
            width: 2%;
            height: 100%;
            background-color: #9A58EE;

        }

        .EventDetailBox{
            width: 47.5%;
            height: 100%;
            margin: auto;

            .EventDetailTitle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 20%;
                border-bottom: 2px solid #E2E2E2;
                padding-top: 2%;
                margin: auto;

                .EventDetailDayOfWeek{
                    display: flex;
                    align-items: center;
                    color: #F34F50;
                    font-weight: bold;
                    font-size: 2.25em;
                }
                .EventDetailDay{
                    margin-left: 1%;
                    color: gray;
                    font-weight: bold;
                    font-size: 1.5em;
                }   
            }

            .AddEventButton{
                display: flex;
                align-items: center;
                margin-left: auto;
                width: 30%;
                height: 8%;
                color: white;
                background-color: #9A58EE;
                padding-left: 1%;
                margin-top: 3%;
                border-radius: 0.5em;
                cursor: pointer;

                &:hover{
                    background-color: #9048ef;
                }

            }
        }
    }
}
