.EditorBox{
    width: 100%;
    height: 77.5%;
    
    .EditorTitle{
        display: flex;
        width: 90%;
        height: 20%;
        align-items: center;
        // border-radius: 0.5em;
        margin: auto;
        .Title{
            display: flex;
            width: 10%;
            height: 50%;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
        .TitleInput{
            width: 70%;
            height: 50%;
            margin-left: 2%;
            padding-left: 2%;
            border-radius: 0.5em;
            box-shadow: 1px 1px 3px 1px #c0c2c7;
            border: none;
            font-size: 1rem;
            &:focus{
                outline: none;
                border: 2px solid #9A58EE;
            }
        }
    }
    .EditorDate{
        display: flex;
        width: 90%;
        height: 15%;
        align-items: center;
        margin: auto;
        .DateTitle{
            display: flex;
            // width: 10%;
            margin-right: 0.25rem;
            height: 50%;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
        .Icon{
            width: 10%;
            height: 70%;
            cursor: pointer;
        }
        // .CalenderBox{
        //     width: 70%;
        //     height: 50%;
            .Date{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 60%;
                font-weight: bold;
                border-radius: 0.5em;
                box-shadow: 1px 1px 3px 1px #c0c2c7;
                margin-left: 2%;
            }
        // }
        
    }
    .EditorTime{
        display: flex;
        width: 90%;
        height: 20%;
        align-items: center;
        margin: auto;
        .Time{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50%;
            margin-right: 0.25rem;
            font-weight: bold;
        }
        .TimeSelector{
            margin-left: 2%;
            margin-right: 2%;
            width: 15%;
            height: 50%;
            font-size: 1rem;
        }
    }
    .EditorContents{
        width: 90%;
        height: 30%;
        align-items: center;
        margin: auto;
        .Contents{
            width: 100%;
            margin-bottom: 1%;
            font-weight: bold;
        }
        .TextArea{
            width: 100%;
            height: 60%;
            padding-left: 2%;
            padding-top: 1%;
            border-radius: 0.5em;
            box-shadow: 1px 1px 3px 1px #c0c2c7;
            border: none;
            resize:none;
            overflow: auto;
            font-size: 1rem;
            &:focus{
                outline: none;
                border: 2px solid #9A58EE;
            }
        }
    }
    .EditorButtonBox{
        display: flex;
        margin: auto;
        width: 90%;
        height: 10%;

        .EditorCancelButton{
            display: flex;
            width: 13%;
            height: 95%;
            align-items: center;
            justify-content: center;
            margin-right: 3%;
            margin-left: auto;
            border-radius: 0.5rem;
            background-color: #F34F50;
            color: white;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                background-color: #dc3a3a;;
            }
        }
        .EditorSaveButton{
            display: flex;
            width: 13%;
            height: 95%;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #0090F9;
            border-radius: 0.5rem;
            // background-color: #9A58EE;
            color: white;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                background-color: #0B7FD3;
            }
        }
    }
    
}