.EventContainer{
    width: 1080px;
    height: auto;
    margin: auto;

    .EventMainBox{
        display: flex;
        width: 100%;
        height: 35rem;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: white;
        box-shadow: 1px 1px 3px 1px #dadce0;
        border-radius: 1em;

        .EventCalendarBox{
            display: flex;
            width: 49%;
            height: 100%;
            justify-content: center;

            .dot {
                height: 7px;
                width: 7px;
                background-color: #F34F50;
                border-radius: 50%;
                display: flex;
                margin: auto;
                margin-top: 5px;
            }
        }

        .MiddleLine{
            width: 2%;
            height: 100%;
            background-color: #9A58EE;
        }

        .EventDetailBox{
            width: 49%;
            height: 100%;
            margin: auto;

            .EventDetailTitle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 20%;
                border-bottom: 2px solid #E2E2E2;
                padding-top: 2%;
                margin: auto;

                .EventDetailDayOfWeek{
                    display: flex;
                    align-items: center;
                    color: #F34F50;
                    font-weight: bold;
                    font-size: 2.25em;
                }
                .EventDetailDay{
                    margin-left: 1%;
                    color: gray;
                    font-weight: bold;
                    font-size: 1.5em;
                }   
            }

            .AddEventButton{
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: 5%;
                width: 30%;
                height: 8%;
                color: white;
                background-color: #9A58EE;
                padding-left: 1%;
                margin-top: 3%;
                border-radius: 0.5em;
                cursor: pointer;

                &:hover{
                    background-color: #9048ef;
                }

            }
        }
    }
}