.MyItemOrderBox{
    width: 90%;
    min-height: 90%;
    height: auto;
    margin: auto;
    .UsedItemButtons{
        display: flex;
        align-items: center;
        width: 40%;
        height: 5vh;
        font-size: 1vw;
        font-weight: bold;
        // margin-top: 1%;
        // margin: auto;
        .SelectedOrderMenu{
            display: flex;
            width: 20%;
            height: 80%;
            margin: auto;
            align-items: center;
            justify-content: center;
            border-bottom: 3px solid #FFB800;
            cursor: pointer;
        }
        .OrderMenu{
            display: flex;
            width: 20%;
            height: 80%;
            margin: auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .ItemListBox{
        width: 100%;
        min-height: 60vh;
        height: auto;
        margin: auto;
        display: grid;
		grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        align-items: stretch;
        justify-items: stretch;
        row-gap: 3%;
        column-gap: 3%;
    }
}