.MyTilContainer{
    width: 1080px;
    height: auto;
    margin: auto;

    .MyTilListBox{
        width: 100%;
        margin: auto;
        margin-top: 2rem;
        padding-bottom: 3%;
        // overflow-y: scroll;    
    } 
    .MyTilListBox::-webkit-scrollbar {
        display: none;
    }
}

// .MyTilListBox {
//     -ms-overflow-style: none; /* 인터넷 익스플로러 */
//     scrollbar-width: none; /* 파이어폭스 */
// }
