.TilContainer{
    width: 1080px;
    height: auto;
    margin: auto;
    
    .TilTitleBox{
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
        margin: auto;
        margin-top: 2%;
        border-radius: 1rem;
        background-color: #0090F9;
        color: white;
        font-weight: 500;
        font-size: 2rem;
        .TilTitle{
            display: flex;
            align-items: center;
            height: 50%;
            padding-left: 3%;
        }
        .TilSubTitle{
            display: flex;
            align-items: center;
            height: 40%;
            padding-left: 3%;
            padding-right: 3%;
            font-size: 1.25rem;
        }
    }

    .SearchBox{
        display: flex;
        align-items: center;
        width: 100%;
        height: 5vh;
        margin: auto;
        margin-top: 1rem;
        background-color: #0090F9;
        border-radius: 0.5em;
    }

    .SearchBar{
        display: flex;
        align-items: center;
        width: 30%;
        height: 80%;
        border-radius: 4em;
        margin-left: 3rem;
        background-color: white;

        .SearchIcon{
            margin-left: 1rem;
            width: 7%;
            height: 80%;
            background-color: white;
        }
    
        .SearchInput{
            padding-left: 2%;
            width: 80%;
            height: 90%;
            border: none;
            outline: none;
        }
    }
}