.TilCreateCotainer{
    width: 1024px;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family : 'gulim', 'gothic';

    
    .TilCreateTitleBox{
        margin-top: 2rem;
    }

    .TilCreateTagBox{
        margin-top: 1rem;
    }

    .h1{
        margin: 0;
        margin-bottom: 3%;
    }
    .p{
        margin-bottom: 1%;
    }

    .TilCreateTitle{
        width: 98.5%;
        height: 2.25rem;
        border: solid 0.15rem;
        border-radius: 0.375rem;
        border-color: hsla(220,9%,46%,.3);
        padding-left: 1%;
        font-size: 1rem;
        &:focus{
            border-color: #0090F9;
            outline: none;
        }
    }
    .TilCreateTag{
        width: 98.5%;
        height: 2.25rem;
        border: solid 0.15rem;
        border-radius: 0.375rem;
        border-color: hsla(220,9%,46%,.3);
        padding-left: 1%;
        font-size: 1rem;
        &:focus{
            border-color: #0090F9;
            outline: none;
        }
    }
    .TilCreateContentBox{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: auto;
    }
}