.TilItemBox{
    position : relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 25rem;
    box-shadow: 1px 1px 3px 1px #dadce0;
    border-radius: 1em;
    padding-top: 1%;
    background-color: white;
}

.TilItemBox2{
    position : relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 3px 1px #dadce0;
    border-radius: 1em;
    padding-top: 1%;
    background-color: white;
}

    .TilHeaderBox{
        display: flex;
        align-items: center;
        width: 95%;
        height: 5rem;
        margin: auto;
        border-bottom: 0.1rem solid #c7c9ce;;
        
        .Profile{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: black;
            align-items: center;
            justify-content: center;
        }

        .TilDetailTile{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin-left: 1rem;
            font-weight: bold;
            font-size: 1.5vw;
        }

        .TilButtons{
            display: flex;
            align-items: center;
            margin-left: auto;
            width: 10%;
            height: 100%;
            .EditButton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 60%;
                background-color: #E2E2E2;
                border-radius: 0.5em;
                cursor: pointer;
            }
        
            .DeleteButton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 60%;
                margin-left: 0.5rem;
                background-color: #FFB7B7;
                border-radius: 0.5em;
                cursor: pointer;
            }
        }
        
    }

    .TilContentBox{
        width: 85%;
        height: 16rem;
        overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 7;
        // -webkit-box-orient: vertical;
        margin: auto;
        padding-top: 1rem;

        // .ClosedContent{
        //     width: 100%;
        //     overflow: hidden;
        //     display: -webkit-box;
        //     -webkit-line-clamp: 6;
        //     -webkit-box-orient: vertical;
        // }

        // .NotClosedContent{
        //     width: 100%;
        //     height: auto;
        //     overflow: hidden;
        // }
    }
    .TilContentBox2{
        width: 85%;
        height: auto;
        overflow: hidden;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 5%;
    }

    .TilMoreSeeBox{
        position : absolute;
        bottom : 0;
        width: 100%;
        height: 3rem;
        margin: auto;
        text-align: center;
        border-radius: 1em;
        cursor: pointer;
        color: gray;
        &:hover{
            color: black;
        }
    }
