.CategoryContainer {
    display: flex;
    width: 100%;
    height: 10%;
}

.CategoryBox {
    display: flex;
    width: 35%;
    height: 100%;
    margin: 0 auto;

    .Category {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
        color: #887FA0;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .SelectedCategory {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        &:hover {
            color: white;
        }
    }
    
}