.FooterBox {
    width: 100%;
    padding-left: 2%;
    position : absolute;
    bottom : 0;
    background-color: #10012F;
}

.FooterTitle {
    color: white;
    font-size: 200%;
}

.FooterContent {
    padding-top: 1%;
    color: white;
}