.ImageCardBox {
    width: 100%;
    height: 100%;
    align-items: center;

    .SwiperBox{
        width: 100%;
        height: 100%;
        align-items: center;
        z-index: 50;

        .SwiperSlideBox{
            display: flex;
            align-items : center;
            justify-content: center;
            width: 30%;
            height: 100%;
        }
    }
}