.MainSection {
  width: 1280px;
  height: 100%;
  margin: auto;
  background-color: #110042;
  overflow-y: hidden;

  .Illustration {
    width: 100%;
    height: 100%;
    background-color: #f5f7ff;
    background-repeat: no-repeat;
  }
}
