.UserRoleBox{
    display: flex;
    align-items: center;
    width: 90%;
    height: 8%;
    border-bottom: 1px solid gray;
    margin: auto;
    color: black;
    font-weight: bold;

    .UserRoleName{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 90%;
    }
    .UserRoleCreated{
        display: flex;
        width: 20%;
        height: 90%;
        align-items: center;
        justify-content: center;
    }
    .UserRoleGithubId{
        display: flex;
        width: 30%;
        height: 90%;
        align-items: center;
        justify-content: center;
    }
    .UserRoleRole{
        display: flex;
        width: 22.5%;
        height: 75%;
        align-items: center;
        justify-content: center;
    }
    .UserRoleEditButton{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14%;
        height: 75%;
        margin-left: 4.75%;
        margin-right: 3.75%;
        color: white;
        background-color: #38CF03;
        cursor: pointer;
        border-radius: 0.5em;
        &:hover{
            background-color: #30ad03;
        }
    }
}