.ContainerBox{
    display: flex;
    width: 75vw;
    height: 20vh;
    background-color: #f5f7ff;
    margin-top: 5vh;

    .Icon{
        width: 15vw;
        height: 20vh;
        text-align: center;

        .IconText{
            color: #3700AB;
            font-weight: bold;
            font-size: 1.3vw;
            text-align: center;
        }
    }

    .RankListBox{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 60vw;
        height: 20vh;
        justify-items: center;
        align-items: center;
        justify-content: space-around;

        .MyPointBox{
            font-weight: bold;
            font-size: 1.3vw;
            color: #909090;
        }
        .WeeklyScoreBox{
            font-weight: bold;
            font-size: 1.3vw;
            color: #909090;
        }
    }
}