.ShopModal{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;

    .ItemInfoBox{
        width: 60%;
        height: 70%;
        background-color: white;
        border-radius: 1em;
        margin: auto;

        .ItemInfoTitle{
            display: flex;
            align-items: center;
            width: 90%;
            height: 15%;
            font-weight: bold;
            font-size: 1.5vw;
            margin: auto;
        }
        .ItemInfoContent{
            display: flex;
            width: 95%;
            height: 75%;
            margin: auto;

            .ItemInfoImage{
                width: 20%;
                height: 40%;
                margin: auto;
                border-radius: 1em;
                box-shadow: 1px 1px 3px 1px #c0c2c7;
                font-weight: bold;

                .ItemImage{
                    width: 8rem;
                    height: 8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                }
                .ItemName{
                    width: 80%;
                    height: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                }
                .ItemPoint{
                    width: 80%;
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                }
                
            }

            .ItemInfoDetail{
                width: 85%;
                height: 100%;
                align-content: space-evenly;

                .ItemContentInfo{
                    width: 90%;
                    height: 25%;
                    margin: auto;
                    border-radius: 1em;
                    box-shadow: 1px 1px 3px 1px #c0c2c7;
                    font-weight: bold;
                    margin-bottom: 3%;
                    .Title{
                        width: 90%;
                        height: 30%;
                        margin-left: 2%;
                        padding-top: 1%;
                        font-size: 1.25vw;
                    }
                    .Content{
                        width: 90%;
                        height: 70%;
                        margin-left: 2%;
                        padding-top: 1rem;
                        padding-left: 2rem;
                        font-size: 1vw;
                    }
                }
                .ItemPointInfo{
                    width: 90%;
                    height: 40%;
                    margin: auto;
                    border-radius: 1em;
                    box-shadow: 1px 1px 3px 1px #c0c2c7;
                    font-weight: bold;
                    margin-bottom: 3%;
                    .Title{
                        width: 90%;
                        height: 30%;
                        margin-left: 2%;
                        padding-top: 1%;
                        font-size: 1.25vw;
                    }
                    .Content{
                        width: 90%;
                        height: 20%;
                        margin-left: 2%;
                        padding-top: 1%;
                        font-size: 1vw;
                    }
                }
                .ItemSubSetting{
                    width: 90%;
                    height: 20%;
                    margin: auto;
                    border-radius: 1em;
                    box-shadow: 1px 1px 3px 1px #c0c2c7;
                    font-weight: bold;
                    .Title{
                        width: 90%;
                        height: 40%;
                        margin-left: 2%;
                        padding-top: 1%;
                        font-size: 1.25vw;
                    }
                    .Content{
                        width: 85%;
                        height: 60%;
                        padding-top: 1%;
                        margin: auto;
                        font-size: 1vw;
                    }
                }
            }
        }

        .ShopButtonBox{
            display: flex;
            width: 90%;
            height: 10%;
            margin: auto;
            
            .ShopCancelButton{
                display: flex;
                width: 10%;
                height: 60%;
                align-items: center;
                justify-content: center;
                margin-right: 3%;
                margin-left: auto;
                border-radius: 0.5em;
                // background-color: #F34F50;
                // color: white;
                color: black;
                border: 1px solid #c7c9ce;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background-color: #f1f3f6;
                }
            }
            .ShopSaveButton{
                display: flex;
                width: 10%;
                height: 60%;
                align-items: center;
                justify-content: center;
                border-radius: 0.5em;
                border: 1px solid #0090F9;
                background-color: #0090F9;
                color: white;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background-color: #0B7FD3;
                }
            }
        }
    }

    
    

}