.CommentBox{
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;

    .CommentInput{
        width: 90%;
        height: 90%;
        resize: none;
    }
    .CommentButton{
        width: 10%;
        height: 90%;
        background-color: #797FB5;
        border: none;
        color: white;
        &:hover{
            background-color: #7b80af;
        }
    }
}