.NoticeEditorBox{
    width: 100%;
    height: 75%;
    margin: auto;
    margin-top: 1%;

    .NoticeEditorButtons{
        display: flex;
        align-items: center;
        width: 80%;
        height: 5%;
        margin: auto;

        .SaveButton{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            width: 5%;
            height: 90%;
            cursor: pointer;
            font-weight: bold;
            color: white;
            background-color: #f0ba99;
            border-radius: 0.5em;
            &:hover{
                background-color: #e0a986;
            }
        }
    }
    .RowNoticeEditorBox{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
        width: 80%;
        height: 4%;
        color: black;
        font-weight: bold;
        border-radius: 0.5em;
        background-color: #797FB5;
        color: white;
        font-weight: bold;

        .RowNoticeId{
            width: 10%;
            height: 100%;
            text-align: center;
            margin: auto;
        }
        .RowNoticeTitle{
            width: 50%;
            height: 100%;
            text-align: center;
            margin: auto;
            border-left: 1px solid white;
        }
        .RowNoticeCreated{
            width: 25%;
            height: 100%;
            text-align: center;
            margin: auto;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }
        .RowNoticeWriter{
            width: 15%;
            height: 100%;
            text-align: center;
            margin: auto;
        }
    }

    .NoticeInfoBox{
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-bottom: 1%;
        width: 80%;
        height: 5%;
        color: black;
        font-weight: bold;
        border-bottom: 1px solid black;

        .NoticeInfoId{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            height: 100%;
            text-align: center;
            margin: auto;
        }

        .NoticeInfoTitle{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5em;
            padding-left: 1%;
            margin: auto;
            width: 50%;
            height: 70%;
        }
        .NoticeInfoCreated{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            height: 100%;
        }
        .NoticeInfoWriter{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 100%;
        }
    }
    
    .NoticeEditor{
        width: 80%;
        height: 75%;
        margin: auto;
        background-color: white;
    }

    .NoticeFileUpload{
        margin: auto;
        margin-top: 1%;
        width: 80%;
        height: 5%;
    }
}