.NoticeDetailContainer{
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #F5F7FF;

    .DetailTitleBox{   
        display: flex;
        align-items: center;
        width: 80%;
        height: 93px;
        margin: auto;
        margin-top: 2%;
        .EN{
            align-items: center;
            vertical-align: text-bottom;
            width: 22%;
            height: 100%;
            font-size: 3.5vw;
            font-weight: bold;
            color: black;
        }
        .KR{
            display: flex;
            align-items: flex-end;
            width: 10%;
            height: 90%;
            font-weight: bold;
            font-size: 1.5vw;
            color: black;
        }
    }

    .DetailNoticeButtonsBox{
        display: flex;
        align-items: center;
        width: 80%;
        height: 46.55px;
        margin: auto;
        .EditButton{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5%;
            height: 80%;
            color: white;
            background-color: #00C371;
            margin-left: auto;
            cursor: pointer;
            font-weight: bold;
            border-radius: 0.5em;
            margin-right: 1%;
            text-decoration: none;
            &:hover{
                background-color: #02ae66;
            }
        }
        .DeleteButton{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5%;
            height: 80%;
            cursor: pointer;
            font-weight: bold;
            color: white;
            background-color: #f0ba99;
            border-radius: 0.5em;
            &:hover{
                background-color: #e0a986;
            }
        }
    }

    .toastui-editor-contents{
        background-color: white;
    }
    .toastui-editor-contents pre{
        background-color: white;
    }

    .CommentSection{
        width: 70%;
        height: auto;
        margin: auto;
    }
}