* {
    font-family: 'Raleway', sans-serif;
}
.NoticeContainer{
    width: 1080px;
    height: auto;
    margin: auto;
    
    .NoticeTitleBox{
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
        margin: auto;
        margin-top: 2%;
        border-radius: 1rem;
        background-color: #0090F9;
        // background-color: #9A58EE;
        color: white;
        font-weight: 500;
        font-size: 1.75rem;
        .NoticeTitle{
            padding-left: 3%;
            padding-right: 3%;
            display: flex;
            align-items: center;
            width: 100%;
            height: 60%;
        }

        .NoticeSubcontents{
            display: flex;
            align-items: center;
            width: 100%;
            height: 40%;
        }
    }
    .NoticeListBox{
        width: 100%;
        margin: auto;
        margin-top: 1%;
    }
    .PaginationBox{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 80%;
        height: 6rem;
        border-top: 0.1rem solid #D2D4D9;
    }
}