.CreateBox{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: 6vh;

    .CreateForm{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 80%;
        text-decoration: none;
        color: white;
        background-color: #0090F9;
        border-radius: 0.5rem;
        margin-left: auto;
        &:hover{
            background-color: #0B7FD3;
        }
        .PencilLogo{
            width: 1rem;
            height: 1rem;
            margin-right: 0.25rem;
        }
        .Write{
            margin: 0;
            font-size: .875rem;
        }
    }
}   