.DropdownBox{
    width: 12rem;
    position: absolute;
    z-index: 99;
    right: 0;
    margin-top: 0.5rem;   
    box-sizing: border-box;
    border: 0.15rem solid #e5e7eb;
    border-radius: 0.725rem;
    background-color: white;
    
    .DropdownMenuBox{    
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem;
        line-height: 1.25rem;

        .DropdownMenuFirst{
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            color:black;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color:#0090F9;
            }
        }
        .DropdownMenu{
            display: flex;
            align-items: center;
            margin-top: 1rem;
            width: 100%;
            height: 20%;
            color:black;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color:#0090F9;
            }
        }
    }

    .DropdownLogOut{
        display: flex;
        align-items: center;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-top: 0.1rem solid black;
        font-size: 1rem;
        color:black;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color:#0090F9;
        }
    }
}