.HeaderContainer{
    display: flex;
    height: 7.5vh;
    border-bottom: 1.75px solid #a5a7aa;
    
    .HeaderBox{
        display: flex;
        margin: auto;
        width: 1280px;
        height: 80%;
        .LogoLink{
            width: 10rem;
            height: 100%;
            .LogoImage{
                width: 100%;
                height: 100%;
            }
        }

        .MenuBox{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 30%;
            height: 100%;
            margin-left: 4rem;
            margin-right: 4rem;
            font-weight: 600;
            font-size: 1rem;

            .SelectedMenu{
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // width: 5rem;
                // height: 100%;
                // margin-left: 2%;
                text-decoration: none;
                color: #0090F9;
                cursor: pointer;
            }
            .Menu{
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // width: 5rem;
                // height: 100%;
                // margin-left: 2%;
                text-decoration: none;
                color: black;
                cursor: pointer;
                &:hover{
                    color:#0090F9;
                }
            }
        }

        .SearchBarBox{
            display: flex;
            margin: auto;
            margin-left: auto;
            border-radius: 1em;
            border: 2px solid #575756;
            width: 20%;
            height: 60%;

            .SearchIcon{
                margin: auto;
                width: 7%;
                height: 80%;
            }
            .SearchInput{
                margin: auto;
                width: 80%;
                height: 80%;
                border: none;
                outline: none;
                &:focus{
                    outline: none;
                }
            }
        }
        
        .ButtonBox{
            display: flex;
            align-items: center;
            // justify-content: center;
            // width: 30%;
            height: 90%;
            margin-left: auto;
            color:black;
            font-weight: bold;
            font-size: 1.12rem;
            
            .LoginButton{
                display: flex;
                justify-content: center;
                // width: 30%;
                margin-left: 2rem;
                color:black;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    color:#0090F9;
                }
            }
            .SignUpButton{
                display: flex;
                justify-content: center;
                // width: 30%;
                margin-left: 2rem;
                color:black;
                text-decoration: none;
                &:hover{
                    color:#0090F9;
                }
            }
            .MyProfileBox{
                display: block;
                width: 3rem;
                height: 3rem;
                position: relative;
                box-sizing: border-box;
                border: 0 solid #e5e7eb;
                margin-left: auto;
                .MyProfile{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    background-color: #C2185B;
                    color: white; 
                    font-size: 90%;
                    font-weight: 400;
                    border-radius: 50%;
                    cursor: pointer;
                    text-decoration: none;
                    margin-left: 2%;
                    margin-right: 1%;
                }
            }
            
        }

    }
}